<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-8 col-xs-8 offset-xl-3 offset-lg-3 offset-md-3 offset-sm-2 offset-xs-2 container--ingredients">
        <ul class="list-group">
            <li ng-repeat="ingredient in ingredients track by $index" class="list-group-item">
                 <span class="tag bg-primary label-pill pull-xs-right"><i class="fa fa-trash" aria-hidden="true"></i></span>
                <span>{{ingredient}}</span>
            </li>
        </ul>
        <button type="subm" ng-click="transformToString()" class="btn btn-success-outline waves-effect">Find</button>
    </div>
</div>